<h1>Burger Time!</h1>

<main>
  <div class="container">
    <div class="row">
      <div class="col s6">
        <h3 class="undevoured-header">Burgers to be eaten!</h3>
        {{#each burgers}}
          {{#unless this.devoured}}
            <div>
              <form action="/burgers/{{this.burgerID}}?_method=PUT" method="POST">
                <button type="submit" class='uneatenBtn'> {{this.burgerName}}</button>
              </form>
            </div>
          {{/unless}}
        {{/each}}
      </div>

      <div class="col s6">
        <h3 class="devoured-header">Burgers that have already been eaten!</h3>
        {{#each burgers}}
          {{#if this.devoured}}
            <div class='burger-eaten'>
              <div>
                {{this.burgerName}}
              </div>
            </div>
          {{/if}}
        {{/each}}
      </div>
    </div>
  </div>
</main>

<h2>Add A Burger</h2>

<div class="row">
  <div class="col s12">
    <form action="/burgers" method="POST">
      <input type="text" id="name" name="burger_name" placeholder="YUUUUMMMMM BURGER">
      <button type="submit" class="addBurgerButton">Add The Burger</button>
    </form>
  </div>
</div>
